*{
    font-family: Helvetica, Arial, sans-serif;
}

/* .navbar-margin{
    margin-bottom: 50px !important;
} */
/* 
#profile-picture {
    text-align: center;
  } */

  hr {
    width:50%;
    margin:5 auto;
}